.commits-graph {
  position: relative;
  max-width: 1280px;
  margin: auto;
  padding-block-end: 200px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: 900px) {
    padding-inline-start: 20px;
  }

  @media (max-width: 1280px) {
    padding-inline-start: 30px;
  }

  .branch-line {
    --branch-color: white;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-bottom-left-radius: 40px;
    border-left: var(--stripe-width) solid var(--branch-color);
    border-bottom: var(--stripe-width) solid var(--branch-color);

    @media (min-width: 1350px) {
      &::after {
        content: "";
        background-color: var(--branch-color);
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        bottom: 0;
        right: 0;
        transform: translate(90%, 75%);
      }
    }

    @media (max-width: 1100px) {
      display: none;
    }
  }
}
