:root {
  --color-primary: black;
}

.commit-card {
  position: relative;
  height: 400px;
  width: 70%;
  background-color: var(--color-primary);
  margin: 0;
  transition: all 0.5s ease-in-out;

  &::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 20px;
    border-bottom: 10px solid var(--color-primary);
    border-left: 10px solid var(--color-primary);
    width: 20%;
    height: 100%;
    transform: translateX(calc(100% + 50px));
  }

  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 10px solid var(--color-primary);
    transform: translateX(calc(100% + 25px));
  }

  &.last {
    &::before {
      // Connect to previous commit
      border-bottom: none;
      border-bottom-left-radius: 0;
      height: calc(100% + 40px);
    }
  }

  &.highlight {
    background-color: red;
    // width: 80%;
  }
}
